.service-container {
    background: linear-gradient(90deg, #151520, #1b1c2d, #1a1b2c);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}
.service-status {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
}

.service-status h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 15px;
    background-image: linear-gradient(90deg, #3773CC 0%, #558bdb 25%, #ad7dd9 50%, #8d5dcb 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-status p {
    font-size: 1.3rem;
    background: linear-gradient(
    to left,
    #49dbcf 0%,
    #409cce 25%,
    #73bae1 50%,
    #8b77e3 75%,
    #6774e6 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    max-width: 500px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.service-status {
    background: rgba(119, 121, 140, 0.08);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    margin: 60px auto;
    width: 90%;
    max-width: 600px;
}
