{% extends "base.html" %} 
{% load static %}
{% block title %}
  Services | Momin Rifat
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/serve.css' %}" />
{% endblock %}
{% block content %}
    <div class="service-container">
        <div class="service-status">
            <h1>No Services Available</h1>
            <p>Currently, no services are available. Please check back later.</p>
            <p>Thank you for your patience.</p>
        </div>
    </div>
{% endblock %}

