body {
    background: linear-gradient(to bottom, #020327, #010f1f 70%, #02061d);
    color: #fff;
}

.container {
    max-width: 500px;
    margin: 1px auto;
    padding: 5px 10px;
    text-align: center;
}

.contact-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg, #3773CC 0%, #558bdb 25%, #ad7dd9 50%, #8d5dcb 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-form-section {
    padding: 30px;
    border-radius: 8px;
    backdrop-filter: blur(16px);
    margin-bottom: 10px;
    text-align: left;
    align-content: center;
    align-items: center;
    width: 425px;
}

.contact-form-section .form-group {
    margin-bottom: 10px;
}

.contact-form-section label {
    font-weight: 600;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    margin-bottom: 6px;
}

.contact-form-section input,
.contact-form-section textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.05);
    color: #fff;
    font-size: 1rem;
}

.contact-form-section button {
    background: #58a6ff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin: 20px auto 0 auto;
}

.contact-form-section button:hover {
    background: #1c7ed6;
}

.contact-info-section {
    margin-top: 20px;
}

.contact-logos {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

.contact-logos a {
    color: #1c7ed6;
    transition: transform 0.2s;
}

.contact-logos a:hover {
    color: #ffffff;
    transform: scale(1.2);
}

.contact-details p {
    font-size: 1rem;
    margin: 8px 0;
}

.contact-details i {
    margin-right: 10px;
    color: #58a6ff;
}

@media (max-width: 768px) {
    .contact-form-section {
        text-align: left;
        padding: 20px;
    }
    .contact-logos {
        gap: 20px;
    }
}
