body {
    background: linear-gradient(to bottom, #020327, #010f1f 70%, #02061d);
    color: #ffffff;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.section {
    margin-bottom: 40px;
    display: block; 
    background-color: rgba(255, 255, 255, 0.02);
    text-align: center; 
}

.section h2 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e9e5e5 35%,
        #031629 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    display: inline-block;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(16px);
    border-radius: 8px;
    padding: 25px 28px;
    margin: 0 15px 20px auto; 
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;
    height: 100px;
    width: 325px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.subtitle {
    color: #cfd8df;
    font-size: 0.95rem;
    margin-bottom: 6px;
}

.meta {
    font-size: 0.9rem;
    color: #aab4bd;
}

.award {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.award-desc {
    font-size: 0.95rem;
    color: #d6d6d6;
}
.semester {
    font-size: 0.9rem;
    color: #d6d6d6;
}


@media (max-width: 768px) {
    .container {
        margin: 40px auto;
    }
    .card {
        width: 90%; 
        height: auto;
    }
}
