.skill-container {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #020327, #010f1f 70%, #02061d);
}
.skill-title {
    text-align: center;
    font-size: 2.8rem;
    margin: 30px 0 50px;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e9e5e5 35%,
        #040e36 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-group {
    max-width: 1100px;
    margin: 0 auto 50px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.skills-group h3 {
    margin-top: 6px;
    margin-bottom: 22px;
    font-size: 1.3rem;
        background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e9e5e5 35%,
        #5b76df 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.tech-item {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.tech-item i {
    font-size: 42px;
}

.tech-item span {
    font-size: 0.85rem;
    color: #ddd;
}

.tech-item:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.devicon-c-plain { color: #A8B9CC; }
.devicon-cplusplus-plain { color: #00599C; }
.devicon-java-plain { color: #c80404; }
.devicon-python-plain { color: #dce70c; }
.devicon-mysql-plain { color: #4479A1; }
.fa-html5 { color: #E34F26; }
.fa-css3-alt { color: #1572B6; }
.fa-js { color: #F7DF1E; }
.devicon-django-plain { color: #098c5a; }
.fa-layer-group { color: #5f7ec0; }
.devicon-git-plain { color: #F05032; }
.devicon-github-original { color: #ffffff; }
.devicon-vscode-plain { color: #007ACC; }
.fa-database { color: #F29111; }
