.skill-container {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #020327, #02011f 70%, #02061d);
}

.skill-title {
    text-align: center;
    font-size: 2.8rem;
    margin: 30px 0 50px;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e9e5e5 35%,
        #040e36 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-group {
    max-width: 1100px;
    margin: 0 auto 50px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.skills-group h3 {
    margin-top: 6px;
    margin-bottom: 22px;
    font-size: 1.3rem;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e9e5e5 35%,
        #5b76df 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tech-item {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
.tech-item-1 {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.tech-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.tech-item-1 img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-item span {
    font-size: 0.85rem;
    color: #ddd;
    display: block;
    text-align: center;
}
.tech-item-1 span {
    font-size: 0.85rem;
    color: #ddd;
    display: block;
    text-align: center;
}
.tech-item:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.tech-item-1:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.tech-item:hover img {
    transform: scale(1.2);
    filter: brightness(1.2);
}
.tech-item-1:hover img {
    transform: scale(1.2);
    filter: brightness(1.2);
}