{% extends "base.html" %} 
{% load static %}
{% block title %}
  Education | Momin Rifat
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/edu.css' %}" />
{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">
            <h2>Education</h2>
            <div class="card">
                <div class="title">University of Asia Pacific</div>
                <div class="subtitle">BSc. in Computer Science and Engineering</div>
                <div class="meta">CGPA: 3.97 / 4.00 | Jan 2024 -</div>
            </div>
            <div class="card">
                <div class="title">Dhaka College, Dhaka</div>
                <div class="subtitle">Science</div>
                <div class="meta">GPA: 5.00 / 5.00 | 2022</div>
            </div>
            <div class="card"> 
                <div class="title">Narinda Govt. High School</div>
                <div class="subtitle">Science</div>
                <div class="meta">GPA: 5.00 / 5.00 | 2020</div>
            </div>
        </div>
        <div class="section">
            <h2>Awards & Certificates</h2>
            <div class="card">
                <div class="award">VC’s Award</div>
                <div class="award-desc">Achieved an average GPA of 4.00 out of 4.00</div>
                <div class="semester">2nd Year, 2nd Semester</div>
            </div>
            <div class="card">
                <div class="award">VC’s Award</div>
                <div class="award-desc">Achieved an average GPA of 4.00 out of 4.00</div>
                <div class="semester">2nd Year, 1st Semester</div>
            </div>
            <div class="card">
                <div class="award">VC’s Award</div>
                <div class="award-desc">Achieved an average GPA of 4.00 out of 4.00</div>
                <div class="semester">1st Year, 2nd Semester</div>
            </div>
             <div class="card">
                <div class="award">Dean’s Award</div>
                <div class="award-desc">Achieved an average GPA of 3.85 out of 4.00</div>
                <div class="semester">1st Year, 1st Semester</div>
            </div>
        </div>
    </div>
{% endblock %}
